apiVersion: apps/v1
kind: Deployment
metadata:
  name: practica-frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: practica-frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: practica-frontend
    spec:
      containers:
        - name: frontend
          image: 211739080646.dkr.ecr.us-east-1.amazonaws.com/practica-frontend:latest
          ports:
            - containerPort: 80  # Cambia si tu frontend sirve en otro puerto
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
